:root {
    --beet-color1: #b42c45;
    --beet-color2: #952138;
    --dwight-shirt1: #c8ae4f;
    --dwight-shirt2: ##8e6c51;
}

/* The following is custom font - same as the US TV show The Office logo - which is now set as a global font*/
@font-face {
    font-family: "AmericanTypewriter_Medium";
    src: url(AmericanTypewriter_Medium.ttf);
}

body {
    color: black;
    font-family: "AmericanTypewriter_Medium", sans-serif;
}

header > div {
    text-align: center;
    margin: 30px;
}

/* The following is the Nav styling at top of screen */
#nav-bar > ul {
    list-style-type: none;
    text-decoration: none;
    margin: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    
}

li > a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #9b2238;
}

/* The following is the Video player styling */
.video-container {
    text-align: center;
}

#pricing   {
    display: grid;
    grid-template-columns: auto auto auto auto;
    place-items: center;
    margin: 50px;
}

/* following is footer section styling */
footer {
    text-align: center;
    /* background-color: #c8ae4f; Dwight Schrute shirt color mustard */
    background-color: #8e6c51;
}