/* The following is custom font - same as the US TV show The Office logo - which is now set as a global font*/
@font-face {
    font-family: "AmericanTypewriter_Medium";
    src: url(AmericanTypewriter_Medium.ttf);
}

body {
    color: black;
    font-family: "AmericanTypewriter_Medium", sans-serif;
}

header > div {
    text-align: center;
    margin: 30px;
}

/* The following is the Nav styling at top of screen */
#nav-bar > ul {
    list-style-type: none;
    text-decoration: none;
    margin: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    
}

li > a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #9b2238;
}

/* The following is the Video player styling */
.video-container {
    text-align: center;
}

#pricing   {
    display: grid;
    grid-template-columns: auto auto auto auto;
    place-items: center;
    margin: 50px;
}